<div class="content">
    <div class="test">
        <div class="header">
            <h1>flinsta</h1>
            <div class="icons">
                <span class="material-icons my-icon">
                    add_box
                </span>
                <span class="material-icons my-icon">
                    favorite_border
                </span>
                <span class="material-icons my-icon">
                    send
                </span>
            </div>
        </div>
    </div>
    <div class="desktop-m" ></div>
    <!-- <div *ngIf="photos.length > 0"> -->
        <app-card [photo]="photo" *ngFor="let photo of photos"></app-card>
    <!-- </div> -->
    

    <div class="d-flex button-row">
        <button mat-flat-button (click)="getPhotos('switzerland')">more home</button>
        <button mat-flat-button (click)="getPhotos('kitten')">more kitten</button>
    </div>
    

</div>